.version.contact_us /* version checker */
{
	color: #0000F7;
	background-color: #0ED7E9;
}

#page
{
	z-index: 1;
	min-height: 0px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 128px;
	padding-bottom: 896px;
	width: 100%;
	max-width: 768px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 500px;
}

